[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
openai = "*"
numpy = "*"
ipywidgets = "*"
ipykernel = "*"
nbformat = "*"
python-dotenv = "*"
crewai = "*"
crewai-tools = "*"
langchain-community = "*"
transformers = "*"
datasets = "*"
evaluate = "*"
torch = "*"
huggingface-hub = "*"
gitpython = "*"
fastapi = "*"
pydantic = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
